/*
This is a CSS comment
Shortcut for adding the comment is command/control+/
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #aad4cf;
}

/*selecting mutiple headings to change the font weight*/
h1,
h2,
h3 {
    font-weight: 500;
}

header {
    position: relative;
    text-align: center;
}

.header-container {
    position: relative;
    display: inline-block;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.site-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);

}

/* Selecting multiple elements */

.navigation {
    margin-bottom: 80px;
}

nav {
    width: 100%;
    padding: 3px 0;
}

nav ul li {
    display: inline;
    width: 30%;
    text-align: center;
    float: left;
    border-left: 1px solid black;
    text-transform: uppercase;
}

nav li:nth-child(1) {
    border-left: none;
}

nav ul {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #1f1e1e;
    font-weight: 500;
    width: 50%;
    font-size: 18px;
}

.article {
    width: 100%;
    margin: 0 auto;
    max-width: 900px;
    box-sizing: border-box;
    padding: 3px;

}

.float-left {
    width: 200px;
    float: left;
    margin-right: 10px;
}

.container {
    width: 600px;
    margin: 0 auto;
    border: 1px solid black;
    background: #78e0c3;

}

h1,
h2,
h3,
h4 {
    box-sizing: border-box;
    padding: 3px;
}

/*changing how the colums look*/
.form-group {
    display: flex;
    flex-direction: column;
    padding: 2px;
}

/*fixing the send button*/
.send-button {
    background-color: #78e0c3;
    border: 1px solid #78e0c3;
    color: rgb(red, green, blue);
    padding: 30px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px;
    cursor: pointer;
    border-radius: 4px;
}

button {
    background-color: #d4e9e7;
    margin: 20px 20px 20px;
}

footer {
    text-align: right;
    margin: 3px;
}