font-family: 'Open Sans',
sans-serif;

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h1,
h2,
h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 3.375rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.5rem;
}
.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222;
}
.navigation ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.navigation a {
    text-decoration: none;
    color: #c78c06;
}
.logo {
    display: fle;
}
.welcome {
    background-image: url("../images/main-banner.jpg");
    background-size: cal
    background-repeat: no-repeat;
    text-align: center;
    margin: auto 0;
}
/* Main Section Styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
}


.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #c78c06;
    color: white;
    text-decoration: none;
}
.About {
    background-color: #ffe6ac;
    padding: 10px;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
