font-family: 'Open Sans', sans-serif;

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.navigation{
    background-color: #222;
}



